#sidebar-wrapper {
  height: 100%;
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.side-bar-active {
  margin-left: -15rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.side-bar-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 47, 62, 0.9976365546218487) 43%
  );
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

a.active {
  color: rgb(2, 0, 36) !important;
  background-color: white;
}

a {
  background-color: #4e54c834;
  color: white;
  font-weight: 600;
}

.faIcon {
  margin-right: 12px;
}
