<div class="p-3 bg-white shadow-lg rounded mb-5 mt-2">
  <div class="">
    <button class="btn btn-dark" type="button" routerLink="add">
      <fa-icon class="faIcon mr-2" [icon]="faPlus"></fa-icon> Add User
    </button>
  </div>
  <table class="table table-bordered mt-3 table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th
          *ngFor="let column of columnList"
          scope="col"
          (click)="onSortedClick(column.key)"
        >
          {{ column.name }}
          <fa-icon
            *ngIf="isOrderAscOrDesc && sortedColumn === column.key"
            [icon]="faArrowDown"
          ></fa-icon>
          <fa-icon
            *ngIf="!isOrderAscOrDesc && sortedColumn === column.key"
            [icon]="faArrowUp"
          ></fa-icon>
        </th>
        <th scope="col" style="text-align: center">Admin</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of users | sortBy: sortedOrder:sortedColumn;
          let sno = index
        "
      >
        <td>{{ sno + 1 }}</td>
        <td>{{ user.username }}</td>
        <td class="text-info">{{ user.email }}</td>
        <td>{{ user.contact }}</td>
        <td style="text-align: center">
          <fa-icon
            *ngIf="user.isAdmin"
            class="faIconAdmin"
            [icon]="faCheckCircle"
          ></fa-icon>
          <fa-icon
            *ngIf="!user.isAdmin"
            class="faIconNotAdmin"
            [icon]="faTimesCircle"
          ></fa-icon>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-info btn-sm"
            (click)="onEdit(user.userId)"
          >
            <fa-icon class="faIcon" [icon]="faEdit"></fa-icon> Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="onDelete(user.userId)"
          >
            <fa-icon class="faIcon" [icon]="faTrash"></fa-icon> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
